<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<h1>Category List</h1>
<div th:if="${errorMessage}" style="background-color: #f8d7da; color: #721c24; padding: 10px; margin-bottom: 15px; border-radius: 4px;">
    <p th:text="${errorMessage}"></p>
</div>
<body>

<a th:href="@{/addingCategoryForm}">Add New Category</a>

<table border="1">

    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    <tr th:each="category : ${categoryPage.getContent}">
        <td th:utext="${category.id}">...</td>
        <td th:utext="${category.name}">...</td>
        <td>
            <a th:href="@{/deleteCategory(categoryId=${category.id})}">Delete </a>
            <br>
            <a th:href="@{/showCategoryPage/{cid}(cid=${category.id})}">Add Products</a>
            <br>
            <a th:href="@{/showEditCategoryForm(id=${category.id})}">Edit Category</a>
            <br>
        </td>
    </tr>


    <br>
    <br>
    <br>

    <form th:action="@{/findCategoryById}"
          method="get">
        Identifier:
        <input type="text" name="id"/>
        <br/>
        <input type="submit" value="Find Category By Id"/>
    </form>

    <br>
    <br>
    <br>

    <form th:action="@{/findCategoryByName}"
          method="get">
        Name:
        <input type="text" name="name"/>
        <br/>
        <input type="submit" value="Find Category By Name"/>
    </form>

    <br>
    <br>
    <br>


</table>

<div>
    <span th:if="${categoryPage.hasPrevious()}">
        <a th:href="@{/getCategoryPage(page=${categoryPage.number - 1},size=${categoryPage.size})}">Back</a>
    </span>
    <th:block th:each="counter : ${#numbers.sequence(0,categoryPage.totalPages - 1)}">
        <span th:if="${categoryPage.number == counter} " class="selected">[[${counter} + 1]] </span>
        <span th:unless="${categoryPage.number == counter}">
        <a th:href="@{/getCategoryPage(page=${counter},size=${categoryPage.size})}">[[${counter} + 1]] </a>
        </span>
    </th:block>
    <span th:if="${categoryPage.hasNext()}">
        <a th:href="@{/getCategoryPage(page=${categoryPage.number + 1},size = ${categoryPage.size})}">Forward</a>
    </span>


</div>

</body>
<a th:href="@{/manager}"> Home </a>


</html>