<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<h1>Edit Product</h1>
<form th:action="@{/updateEmployee}" method="post">

    <input type="hidden" name="id" th:value="${employeeWithRoles.employeeDTO.id}" />

    <div style="margin-bottom: 15px;">
        <label>Login:</label><br/>

        <input type="text" name="login" th:value="${employeeWithRoles.employeeDTO.login}" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label>Roles:</label><br/>
        <small>Удерживайте Ctrl (Cmd на Mac), чтобы выбрать несколько ролей.</small><br/><br/>

        <select name="roleIds" multiple size="5" style="width: 300px;">
            <option th:each="role : ${employeeWithRoles.roleDTOS}"
                    th:value="${role.id}"
                    th:text="${role.name}">
            </option>
        </select>
    </div>

    <br/>
    <button type="submit">Save Changes</button>
    <a th:href="@{/getEmployeePage}" style="margin-left: 10px;">Cancel</a>
</form>
</html>