<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<h1>Edit Employee</h1>

<div th:if="${errors != null}">
    <div class="alert alert-danger" style="color: red;">
        <ul>
            <li th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"></li>
        </ul>
    </div>
</div>

<form th:action="@{/updateEmployee}" th:object="${employeeWithRoles}" method="post">

    <input type="hidden" th:field="*{id}"/>

    <div>
    <label>Login:</label>
    <input type="text" th:field="*{login}" class="form-control">

    </div>

    <label>Roles:</label>
    <select th:field="*{roleIds}" multiple required size="5" style="width: 300px;">
        <th:block th:if="*{roleDTOS != null and !roleDTOS.isEmpty()}">
            <option th:each="role : *{roleDTOS}"
                    th:value="${role.id}"
                    th:text="${role.name}"></option>
        </th:block>

        <th:block th:if="*{roleDTOS == null or roleDTOS.isEmpty()}">
            <option th:each="id : *{roleIds}"
                    th:value="${id}"
                    th:text="'Role with ID: ' + ${id}" selected></option>
        </th:block>
    </select>

    <button type="submit" class="btn btn-primary">Save</button>
    <a th:href="@{/getEmployeePage}" class="btn btn-secondary">To Employees</a>
</form>

</html>