<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<h1>Employee List</h1>

<body>
<table border="1">

    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Roles</th>
    </tr>


    <tr th:each="employee : ${employeePage.getContent}">
        <td th:utext="${employee.id}">...</td>
        <td th:utext="${employee.login}">...</td>
        <td>
            <th:block th:each="role, counter : ${employee.roleDTOS}">
                <span th:text="${role.name}"></span>
                <span th:if="${!counter.last}">, </span>
            </th:block>
        </td>
                <td>
                    <a th:href="@{/deleteEmployee(id=${employee.id})}">Delete </a>
                    <a th:href="@{/editEmployee(id=${employee.id})}">Edit </a>
                </td>
    </tr>

    <br>
    <br>
    <br>

    <form th:action="@{/findEmployeeById}"
          method="get">
        Identifier:
        <input type="text" name="id"/>
        <br/>
        <input type="submit" value="Find Employee"/>
    </form>

    <br>
    <br>
    <br>

    <form th:action="@{/findEmployeeByName}"
          method="get">
        Name:
        <input type="text" name="login"/>
        <br/>
        <input type="submit" value="Find Employee"/>
    </form>

    <br>
    <br>
    <br>


</table>

<div>
    <span th:if="${employeePage.hasPrevious()}">
        <a th:href="@{/getEmployeePage(offset=${employeePage.number - 1},size=${employeePage.size})}">Back</a>
    </span>
    <th:block th:each="counter : ${#numbers.sequence(0,employeePage.totalPages - 1)}">
        <span th:if="${employeePage.number == counter} ">[[${counter} + 1]] </span>
        <span th:unless="${employeePage.number == counter}">
        <a th:href="@{/getEmployeePage(offset=${counter},size=${employeePage.size})}">[[${counter} + 1]] </a>
        </span>
    </th:block>
    <span th:if="${employeePage.hasNext()}">
        <a th:href="@{/getEmployeePage(offset=${employeePage.number + 1},size = ${employeePage.size})}">Forward</a>
    </span>


</div>
<a th:href="@{/registerForm}">Add New Employee </a>


</body>

</html>