<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<h1>Main Menu</h1>

<body>

<nav style="margin-bottom: 20px;">
    <a th:href="@{/manager}" style="margin-right:15px;">Manager Page</a>
    <br>
    <br>
    <a th:href="@{/admin}" style="margin-right:15px;">Admin Page</a>
    <br>
    <br>
    <a th:href="@{/cashier}" style="margin-right:15px;">Cashier Page</a>
</nav>



</body>

</html>