<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<h1>Product List</h1>

<div th:if="${errorMessage}" style="background-color: #f8d7da; color: #721c24; padding: 10px; margin-bottom: 15px; border-radius: 4px;">
    <p th:text="${errorMessage}"></p>
</div>


<a th:href="@{/addingProductForm}"> Add New Product </a>

<body>
<table border="1">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Info</th>
        <th>IsAvailable</th>
        <th>Limit</th>
        <th>Category</th>
    </tr>

    <tr th:each="product : ${productPage.getContent}">
        <td th:utext="${product.id}">...</td>
        <td th:utext="${product.name}">...</td>
        <td th:utext="${product.price}">...</td>
        <td th:utext="${product.info}">...</td>
        <td th:utext="${product.isAvailable}">...</td>
        <td th:utext="${product.productLimit}">...</td>
        <td th:utext="${product.categoryDTO != null ? product.categoryDTO.name : 'Without category' }">...</td>
        <td>
            <a th:href="@{/deleteProduct(id=${product.id})}">Delete </a>
            <a th:href="@{/editProduct(id=${product.id})}">Edit </a>
            <a th:href="@{/editLimit(id=${product.id})}">Set Limit </a>
        </td>
    </tr>


    <br>
    <br>
    <br>

        <form th:action="@{/findProductById}"
              method="get">
            Identifier:
            <input type="text" name="id"/>
            <br/>
            <input type="submit" value="Find Product"/>
        </form>

    <br>
    <br>
    <br>

    <form th:action="@{/findProductByName}"
          method="get">
        Name:
        <input type="text" name="name"/>
        <br/>
        <input type="submit" value="Find Product"/>
    </form>

    <br>
    <br>
    <br>


</table>

<div>
    <span th:if="${productPage.hasPrevious()}">
        <a th:href="@{/getProductPage(offset=${productPage.number - 1},size=${productPage.size})}">Back</a>
    </span>
    <th:block th:each="counter : ${#numbers.sequence(0,productPage.totalPages - 1)}">
        <span th:if="${productPage.number == counter} " class="selected">[[${counter} + 1]] </span>
        <span th:unless="${productPage.number == counter}">
        <a th:href="@{/getProductPage(offset=${counter},size=${productPage.size})}">[[${counter} + 1]] </a>
        </span>
    </th:block>
    <span th:if="${productPage.hasNext()}">
        <a th:href="@{/getProductPage(offset=${productPage.number + 1},size = ${productPage.size})}">Forward</a>
    </span>


</div>

</body>
<a th:href="@{/manager}"> Manager Menu </a>
<br>
<br>
<a th:href="@{/admin}"> Admin Menu </a>


</html>